@use '../../../shared/colors' as *;

.opening-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

    .title {
        opacity: 0;
        color: $accent;
        text-align: center;
        scale: 25;
        font-family: 'Star Wars';
        display: table-caption;
        word-spacing: 9999rem;
        line-height: 1.5rem;
        transition: opacity 0.4s;
        pointer-events: none;
        user-select: none;
        will-change: transform;
    }

    .farFarAway {
        position: absolute;
        width: 60%;
        font-size: xx-large;
        color: $accent;
        pointer-events: none;
        user-select: none;
        will-change: transform;
        perspective: 35vmax;

        div {
            top: 120vh;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            text-transform: uppercase;
            margin-top: 50%;

            :first-child {
                margin-block: 1rem;
                text-align: center;
            }

            :nth-child(2) {
                margin-bottom: 1rem;
                text-align: center;
            }

            p {
                font-size: 1.5vw;
                line-height: 2rem;
                font-weight: bold;
                text-align: justify;
                word-spacing: 0.2rem;
            }
        }

    }

    button {
        position: absolute;
        color: $tpSec;
        font-size: large;
        touch-action: manipulation;
        overflow: hidden;
        transition: all .5s cubic-bezier(.19, 1, .22, 1);

        &::before {
            content: '';
            inset: -1rem;
            position: absolute;
            filter: blur(.5vmax);
            z-index: -1;
        }

        &:hover {
            background-color: $priColor;
            color: $secColor;
        }

        &:active {
            background-color: var(--paleAccentThree);
            color: $secColor;
            scale: 0.9;
        }
    }

    .skip {
        z-index: 3;
        right: 3rem;
        top: 3rem;
        padding: .5rem;
        border-radius: .3rem;

        &::before {
            background-image: linear-gradient(-45deg,
                    hsla(27, 100%, 24%, 0.9) 0%,
                    hsla(29, 100%, 25%, 0.8) 3%,
                    hsla(30, 100%, 26%, 0.8) 6%,
                    hsla(31, 100%, 27%, 0.7) 9%,
                    hsla(32, 100%, 29%, 0.6) 13%,
                    hsl(34, 100%, 30%, 0.6) 16%,
                    hsl(35, 100%, 31%, 0.6) 20%,
                    hsla(36deg, 100%, 32%, 0.5),
                    hsla(38deg, 100%, 34%, 0.5),
                    hsla(39deg, 100%, 35%, 0.5),
                    hsla(40deg, 100%, 36%, 0.5),
                    hsla(42deg, 100%, 37%, 0.5),
                    hsla(43deg, 100%, 39%, 0.6),
                    hsla(44deg, 100%, 40%, 0.6),
                    hsla(46deg, 100%, 41%, 0.6),
                    hsla(47deg, 100%, 42%, 0.6),
                    hsla(48deg, 100%, 44%, 0.7),
                    hsla(50deg, 100%, 45%, 0.7),
                    hsla(51deg, 100%, 46%, 0.7),
                    hsla(52deg, 100%, 47%, 0.8),
                    hsla(54deg, 100%, 49%, 0.8),
                    hsla(55deg, 100%, 50%, 0.8));
                    z-index: -1;
        }
    }

    .start {
        position: absolute;
        padding: 2rem;
        border-radius: .5rem;
        top: 30%;
        transition: all .5s cubic-bezier(.19, 1, .22, 1);


        &::before {
            background-image: linear-gradient(45deg,
                    hsla(27, 100%, 24%, 0.9) 0%,
                    hsla(29, 100%, 25%, 0.8) 3%,
                    hsla(30, 100%, 26%, 0.8) 6%,
                    hsla(31, 100%, 27%, 0.7) 9%,
                    hsla(32, 100%, 29%, 0.6) 13%,
                    hsl(34, 100%, 30%, 0.6) 16%,
                    hsl(35, 100%, 31%, 0.6) 20%,
                    hsla(36deg, 100%, 32%, 0.5),
                    hsla(38deg, 100%, 34%, 0.5),
                    hsla(39deg, 100%, 35%, 0.5),
                    hsla(40deg, 100%, 36%, 0.5),
                    hsla(42deg, 100%, 37%, 0.5),
                    hsla(43deg, 100%, 39%, 0.6),
                    hsla(44deg, 100%, 40%, 0.6),
                    hsla(46deg, 100%, 41%, 0.6),
                    hsla(47deg, 100%, 42%, 0.6),
                    hsla(48deg, 100%, 44%, 0.7),
                    hsla(50deg, 100%, 45%, 0.7),
                    hsla(51deg, 100%, 46%, 0.7),
                    hsla(52deg, 100%, 47%, 0.8),
                    hsla(54deg, 100%, 49%, 0.8),
                    hsla(55deg, 100%, 50%, 0.8));
        }
    }

    .disabled {
        opacity: 0;
        pointer-events: none;
        user-select: none;
    }

    @keyframes titleAnimation {
        0% {
            scale: 25;
        }

        10% {
            scale: 23;
        }

        30% {
            scale: 18;
        }

        100% {
            scale: 0;
        }
    }

    @keyframes crawlAnimation {
        from {
            top: 120vh;
            transform: rotateX(25deg);
        }

        to {
            top: -120vh;
            transform: rotateX(25deg) translateZ(-30vh);
            margin-top: 0%;
        }
    }
}